*{ font-family:"arial"; 
}
input{padding:7px;}
body{ margin:auto;}
header{width:100%;
       display:flex;
       justify-content:space-between;
       height:10%;
       }
header img{width:4%;}
header span{color:rgb(171, 20, 48);
            font-size:15pt;
            }
header input{width:20%;}
.imagem-principal{width:100%;
                  height:40%;
                  position:relative;
                 }
.imagem-principal figure,.imagem-principal img{ width:100%;   
                                                margin:auto;
                                              } 
.imagem-principal figcaption{position:absolute;
                              width:70%;
                              height:40%;
                              background-color: #fff;
                              top:40%;
                              left:15%
                            }
.formularios-caixa-principal{
                             display:flex;
                             justify-content: space-between;
                             margin:auto; 
                             margin-top: -3%;
                             width:100%;
                            }
.imagem-principal figcaption .nav-opcao-voo{ width:100%;margin:auto;border:1px solid black;}
.nav-opcao-voo .lista-nav{list-style-type: none;
                   display:flex;
                    margin:auto;  
                  justify-content:space-between;               
                  color: #fff;  
                } 
.nav-opcao-voo ul  li{width:37%; 
                     text-align:center; 
                     padding:7px;
                     background-color:black; 
                     }
.nav-opcao-voo ul .nav-opcao_active{background-color: red;
                                    margin-left:-5.8%;
                                   }
.titulo-caixa-principal{color:#c9c4c4a6;}
.botao-caixa-principal{background-color:#c9c4c4a6;padding:10px;}
               
